[Unit]
Description=Create ssh tunnels for glances on xxlpitu-jcrk.duckdns.org
After=network.target

[Service]
User=homeassistant
Environment="AUTOSSH_GATETIME=0"
# -l [user]
# -M 0 --> no monitoring
# -N open the connection and do nothing (not interactive)
ExecStart=/usr/bin/autossh -M 0 -N -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -L 61209:localhost:61208 xxlpitu@xxlpitu-jcrk.duckdns.org
Restart=on-abort

[Install]
WantedBy=network-online.target
