version: "3.7"
services:
  transmission:
    container_name: transmission
    image: linuxserver/transmission
    restart: unless-stopped
    ports:
      - "9091:9091"
    environment:
      - "TZ={{ system.timezone }}"
    volumes:
      - type: bind
        source: "{{ data_path.library.transmission }}/config"
        target: "/config"
      - type: bind
        source: "{{ data_path.library.transmission }}/watch"
        target: "/watch"
      - "transmission_downloads:/downloads"
      - "/etc/localtime:/etc/localtime:ro"
  flexget:
    container_name: flexget
    build:
      context: flexget
      dockerfile: Dockerfile
      args:
        - "python_version={{ docker.image_version.python }}"
    restart: unless-stopped
    depends_on:
      - transmission
    ports:
      - "5050:5050"
    environment:
      - "TZ={{ system.timezone }}"
    volumes:
      - type: bind
        source: "{{ data_path.library.flexget }}/config"
        target: "/root/.flexget"
      - "transmission_downloads:/downloads"
      - "/etc/localtime:/etc/localtime:ro"
volumes:
  transmission_downloads:
