version: "3.7"
services:
  plex:
    container_name: plex
    image: linuxserver/plex
    restart: unless-stopped
    network_mode: host
    environment:
      - "HOSTNAME={{ system_hostname }}"
      - "TZ={{ system.timezone }}"
      - "VERSION=public"
    volumes:
      - type: bind
        source: "{{ data_path.library.plex.main }}"
        target: "/config/Library/Application Support/Plex Media Server"
      - type: bind
        source: "{{ resilio_sync.sync_path.main }}"
        target: "/data/sync"
      - "/etc/localtime:/etc/localtime:ro"
  tautulli:
    container_name: plex_tautulli
    image: linuxserver/tautulli
    restart: unless-stopped
    depends_on:
      - plex
    ports:
      - "8181:8181"
    environment:
      - "TZ={{ system.timezone }}"
    volumes:
      - type: bind
        source: "{{ data_path.library.plex.main }}/Logs"
        target: "/logs"
      - type: bind
        source: "{{ data_path.library.tautulli }}"
        target: "/config"
      - "/etc/localtime:/etc/localtime:ro"
