[Unit]
Description=Glances
After=network.target

[Service]
User=glances
ExecStart=/usr/local/virtualenv/glances/bin/glances -w
Restart=on-abort

[Install]
WantedBy=multi-user.target
