version: "3.7"
services:
  duckdns:
    container_name: duckdns
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - "duckdns_domain={{ duckdns_domain }}"
        - "duckdns_token={{ vault.duckdns.token }}"
        - "alpine_version={{ docker.image_version.alpine }}"
    environment:
      TZ: {{ system.timezone }}
    restart: unless-stopped
    volumes:
      - type: bind
        source: "{{ data_path.library.duckdns }}/duck.log"
        target: "/duckdns/duck.log"
      - "/etc/localtime:/etc/localtime:ro"
