version: "3.7"
services:
  resilio_sync:
    container_name: resilio_sync
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ubuntu_version: {{ docker.image_version.ubuntu }}
    restart: unless-stopped
    ports:
      - "5555:5555"
      - "8888:8888"
    environment:
      TZ: {{ system.timezone }}
    volumes:
      - type: bind
        source: "{{ data_path.library.resilio_sync }}/config"
        target: "/config"
      - type: bind
        source: "{{ resilio_sync.download_path }}"
        target: "/downloads"
      - type: bind
        source: "{{ resilio_sync.sync_path.main }}"
        target: "/sync"
      - "{{ data_path.library.resilio_sync }}/config.json:/config.json"
      - "/etc/localtime:/etc/localtime:ro"
