version: "3.7"
services:
  mal_export:
    container_name: mal_export
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - "alpine_version={{ alpine_version }}"
        - "ubuntu_version={{ ubuntu_version }}"
    restart: unless-stopped
    environment:
      - "TZ={{ timezone }}"
    volumes:
      - type: bind
        source: "{{ mal_export_path }}"
        target: "/export"
      - type: bind
        source: "{{ mal_export_data_path }}/mal_export.log"
        target: "/mal_export.log"
