version: "3.7"
services:
  glances:
    container_name: glances
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
{# TODO figur out which exec options are needed#}
    security_opt:
       - apparmor:unconfined
    pid: host
    stdin_open: true
    tty: true
    ports:
      - "61208:61208"
    environment:
      GLANCES_OPT: {{ glances.options }}
      TZ: {{ system.timezone }}
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ data_path.library.glances }}/glances.conf:/glances/conf/glances.conf"
      - "/var/run/docker.sock:/var/run/docker.sock"
