version: "3.7"
services:
  glances:
    container_name: glances
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - "python_version={{ docker.image_version.python }}"
    restart: unless-stopped
    pid: host
    stdin_open: true
    tty: true
    ports:
      - "61208:61208"
    environment:
      - "GLANCES_OPT={{ glances_options }}"
      - "TZ={{ system.timezone }}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ data_path.library.glances }}/glances.conf:/glances/conf/glances.conf"
